@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 1 px solid red;
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* Text colors */
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --logo-text-color: #2196f3;
  --logo-text-color-footer: #ffffff;
  --hero-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --contacts-link-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --contacts-text-color-head: #757575;
  --contacts-text-color-adress: #ffffff;
  --primary-bgc-color-button: #2196f3;
  --secondary-bgc-color-button: #f5f4fa;
  /* Text color position-elements (works, cards-projects) */
  --primary-text-color-pos-el: #FFFFFF;
  /* Header */
  --border-bottom-header: 1px solid #ececec;
  /* Background colors */
  --header: #ffffff;
  --hero: #2f303a;
  --bgr-color-modal-window: #FFFFFF;
  --bgr-color-backdrop: rgba(0, 0, 0, 0.2);
  --main: #e5e5e5;
  --footer: #2f303a;
  /* Modal window */
  --madal-w-box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  --modal-w-btn-border: 1px solid rgba(0, 0, 0, 0.1);
  /* Text color button */
  --primary-text-button: #ffffff;
  --secondary-text-button: #212121;
  /* Background colors button */
  --primary-bgc-color-button: #2196f3;
  --secondary-bgc-color-button: #f5f4fa;
  /* Icons features-list */
  --bgr-c-feature-icons: #f5f4fa;
  /* Overlay-text (features) */
  --overlay-text-bgr-c: rgba(47, 48, 58, 0.8);
  /* Section-team */
  --background-section-team: #F5F4FA;
  --bgr-c-section-team-fotos: #FFFFFF;
  --section-team-fotos-b-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-section-team: 0px 0px 4px 4px;
  --social-links-icon: #ffffff;
  --social-links-icon-bgr-c: rgba(255, 255, 255, 0.1);
  /*Color icons*/
  --primary-color-icon: #afb1b8;
  --acent-color-icons: #2196f3;
  /*Colors for icons company-clients*/
  --primary-color-border: #afb1b8;
  --color-icons-company: #afb1b8;
  --border-clients-icon: 1px solid #afb1b8;
  --clients-icon-fill-hover: #2196f3;
  --clients-icon-border-hover: #2196f3;
  /*Background color-linial-contacts*/
  --primary-bgr-color-linial: #2196F3;
  /* Animation */
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Button Замовити послугу*/
  --btn-label-border: 1px solid transparent;
  --btn-label-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* Text color form (label) */
  --text-color-label: #757575;
  --text-color-checkbox: #757575;
  --text-color-textarea: rgba(117, 117, 117, 0.5);
  --color-hover-input-icon: #2196F3;
  /* Text color form-footer */
  --text-clr-form-footer-p: #FFFFFF;
  /* Background color form (input) */
  --bgr-color-input: background: #2F303A;
  --border-input: 1px solid rgba(33, 33, 33, 0.2);
  --border-input-hover: 1px solid #2196F3;
  /* Background color form (button) */
  --bgr-color-form-button: #2196F3;
  --btn-submit-border: 1px solid transparent;
  --btn-submit-box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  --btn-submit-hover: #188CE8;
  /* Form (textarea) */
  --border-color-textarea: 1px solid rgba(33, 33, 33, 0.2);
  --border-color-acent: 1px solid #2196F3;
  /* Form (checkbox) */
  --bgr-color-checkbox: #2196F3;
  --checkbox-icon-border: 2px solid black;
  --checkbox-border-color-checked: #2196F3;
  --checkbox-bgr-color-checked: #2196F3;
  /* Form (text-label) */
  --text-color-label: #757575;
  /* Social-group-icon (footer) */
  --bgr-c-icon-footer: rgba(255, 255, 255, 0.1);
  /* Form subscribe */
  --subscribe-text-border: 1px solid rgba(255, 255, 255, 0.3);
  --subscribe-text-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --subscribe-text-color: #FFFFFF;
  --subs-btn-b-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --subs-btn-border-color: #2196F3;
  --subs-btn-hover: #188CE8;
  --subs-btn-fill-icon: #ffffff;
  /* Portfolio */
  --list-btn-b-shadow-hover: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  /* Projects */
  --cards-overlay-text-bgr: rgba(33, 150, 243, 0.9);
  --list-item-b-shadow-hover: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  --cards-border: 1px solid #eeeeee;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__logo {
  color: var(--primary-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.main-nav__accent {
  color: var(--accent-text-color);
}

header {
  background-color: var(--header);
  border-bottom: var(--border-bottom-header);
}

/* Main-nav */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Site nav */
.site-nav {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--logo-text-color);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link--current {
  position: relative;
  color: var(--logo-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.site-nav__link--current:hover, .site-nav__link--current:focus {
  color: var(--logo-text-color);
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--primary-bgr-color-linial);
}

/*  Link list */
.link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.link-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--contacts-text-color-head);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.link-list__link:hover, .link-list__link:focus {
  color: var(--logo-text-color);
}
.link-list__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.link-list__item:last-child {
  margin-left: 50px;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  display: block;
  margin-bottom: 30px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка "Замовити послугу" */
.button__label {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  border-radius: 4px;
  border: var(--btn-label-border);
  -webkit-box-shadow: var(--btn-label-box-shadow);
          box-shadow: var(--btn-label-box-shadow);
  padding: 10px 32px;
  min-width: 136px;
  text-align: center;
  background-color: var(--primary-bgc-color-button);
  color: var(--primary-text-button);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button__label:hover, .button__label:focus {
  background-color: var(--secondary-bgc-color-button);
  color: var(--secondary-text-button);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgr-color-backdrop);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: var(--madal-w-box-shadow);
          box-shadow: var(--madal-w-box-shadow);
  background-color: var(--bgr-color-modal-window);
}
.modal-window__icon {
  width: 11px;
  height: 11px;
}
.modal-window__btn {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: transparent;
  border: var(--modal-w-btn-border);
  cursor: pointer;
}
.modal-window__btn:hover, .modal-window__btn:focus {
  fill: var(--acent-color-icons);
}

/* Form */
.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-group__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-group .form-group__input:hover + .form-group__icon,
.form-group .form-group__input:focus + .form-group__icon {
  fill: var(--color-hover-input-icon);
}
.form-group__input {
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  margin: 0px;
  padding: 0px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: var(--border-input);
  border-radius: 4px;
  outline: none;
}
.form-group__input:hover, .form-group__input:focus {
  border: var(--border-input-hover);
}
.form-group__textarea {
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-textarea);
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: var(--border-color-textarea);
  border-radius: 4px;
  color: inherit;
  outline: none;
}
.form-group__textarea:hover, .form-group__textarea:focus {
  border: var(--border-color-acent);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form__text {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-label);
}

.form-group--comment {
  margin-bottom: 20px;
}

.form__checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-label);
}

.form-checkbox__input {
  /*-webkit-appearance: none;
  -moz-appearanse:none;
  appearance: none;

  position:absolute;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox__text {
  color: var(--text-color-checkbox);
}

.form-checkbox__link {
  color: var(--bgr-color-checkbox);
}

.form-checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: var(--checkbox-icon-border);
  border-radius: 2px;
}

.form-checkbox__input:checked + .form-checkbox__icon {
  border-color: var(--checkbox-border-color-checked);
  background-color: var(--checkbox-bgr-color-checked);
  background-image: url(../images/icons/full-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-btn__submit {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  border-radius: 4px;
  border: var(--btn-submit-border);
  -webkit-box-shadow: var(--btn-submit-box-shadow);
          box-shadow: var(--btn-submit-box-shadow);
  padding: 10px 55px;
  margin: 0;
  min-width: 89px;
  background-color: var(--primary-bgc-color-button);
  color: var(--primary-text-button);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;
}
.form-btn__submit:hover, .form-btn__submit:focus {
  background-color: var(--btn-submit-hover);
}

/* Особливості */
.section__title--exclusive {
  display: none;
}

.section-feature {
  padding-top: 94px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature-list__title {
  padding-bottom: 10px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list__text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feature-list__item {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 30px;
  width: 270px;
}
.feature-list__item:last-child {
  margin-right: 0px;
  padding-right: 0px;
}

.list-item__icon {
  width: 70px;
  height: 70px;
}

.list-item-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bgr-c-feature-icons);
  border-radius: 4px;
}

/* Чим ми займаємося */
.overlay__text {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-pos-el);
  background-color: var(--overlay-text-bgr-c);
}

.list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.list-icons__icon {
  display: block;
}
.list-icons__image {
  position: relative;
  z-index: -1;
}

.section__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section__title--work {
  margin-bottom: 50px;
}

.section-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  padding-top: 30px;
  padding-bottom: 30px;
}
.profession__title {
  padding-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession__text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.team-list__photos {
  background-color: var(--bgr-c-section-team-fotos);
  -webkit-box-shadow: var(--section-team-fotos-b-shadow);
          box-shadow: var(--section-team-fotos-b-shadow);
  border-radius: var(--border-section-team);
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--background-section-team);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
  padding: 0px;
  list-style: none;
}

.social-links__icon {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--primary-color-icon);
}
.social-links__icon:hover, .social-links__icon:focus {
  background-color: var(--acent-color-icons);
  color: var(--social-links-icon);
}
.social-links__pic {
  width: 44px;
  height: 44px;
  fill: currentColor;
}
.social-links__icon.black-icon {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  background-color: var(--social-links-icon-bgr-c);
  color: var(--social-links-icon);
}

/* Clients */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}
.clients__item {
  list-style: none;
}
.clients__icon {
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 170px;
  height: 92px;
  border: var(--border-clients-icon);
  border-radius: 4px;
  fill: var(--color-icons-company);
}
.clients__icon:hover, .clients__icon:focus {
  fill: var(--clients-icon-fill-hover);
  border-color: var(--clients-icon-border-hover);
}

/*  Logo Footer */
.footer-logo {
  margin-right: 70px;
}
.footer-logo__link {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-text-color-footer);
}
.footer-logo__accent {
  color: var(--accent-text-color);
}

/*  Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer);
}

.footer-list {
  margin-top: 20px;
}
.footer-list__adress {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  color: var(--contacts-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-list__adress:hover, .footer-list__adress:focus {
  color: var(--accent-text-color);
}
.footer-list__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  color: var(--contacts-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-text-color);
}
.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Footer-icons */
.footer-icons__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--social-links-icon);
}

.social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
  padding: 0px;
  list-style: none;
  margin-top: 20px;
}
.social-group__icon {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--primary-color-icon);
  background-color: var(--bgr-c-icon-footer);
}
.social-group__icon:hover, .social-group__icon:focus {
  background-color: var(--acent-color-icons);
  color: var(--social-links-icon);
}
.social-group__pic {
  width: 44px;
  height: 44px;
  fill: currentColor;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section-join {
  margin-right: auto;
}

/* Form subscribe */
.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-clr-form-footer-p);
}
.subscribe__text {
  width: 358px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  margin: 0;
  margin-right: 12px;
  border: var(--subscribe-text-border);
  -webkit-filter: var(--subscribe-text-filter);
          filter: var(--subscribe-text-filter);
  border-radius: 4px;
  background-color: var(--bgr-color-input);
  color: var(--subscribe-text-color);
}

.subs-btn {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-button);
  background-color: var(--bgr-color-form-button);
  -webkit-box-shadow: var(--subs-btn-b-shadow);
          box-shadow: var(--subs-btn-b-shadow);
  border-radius: 4px;
  border-color: var(--subs-btn-border-color);
  cursor: pointer;
  outline: none;
}
.subs-btn:hover, .subs-btn:focus {
  background: var(--subs-btn-hover);
}
.subs-btn__icon {
  position: absolute;
  top: 13px;
  bottom: 13px;
  right: 28px;
  left: 148px;
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: var(--subs-btn-fill-icon);
}

/*.close-btn:hover,
.close-btn:focus + svg {
  fill: var(--acent-color-icons);
}*//*# sourceMappingURL=main.css.map */