/*  Footer */ 

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  
  background-color: var(--footer);
}

.footer-list {
  margin-top: 20px;

  &__adress {
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    
    color: var(--contacts-link-color);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    &:hover,
    &:focus{
      color: var(--accent-text-color);
    }
  }

  &__link {
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
      
    color: var(--contacts-text-color);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    &:hover,
    &:focus{
      color: var(--accent-text-color);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
  