/* Footer-icons */

.footer-icons__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  
  color: var(--social-links-icon);
}
  
.social-group{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
  padding: 0px;
  list-style: none;
  
  margin-top: 20px;

  &__icon {
    transition-property: color, background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color-icon);
    background-color: var(--bgr-c-icon-footer);
  
    &:hover,
    &:focus{
      background-color: var(--acent-color-icons);
      color: var(--social-links-icon);
    }
  }

  &__pic{
    width: 44px;
    height: 44px;
    fill: currentColor;
  }
}
  
.footer .container{
  display: flex;
  
  align-items: baseline;
}
  
.section-join{
  margin-right: auto;
}