/*  Logo Footer */

.footer-logo{
  margin-right: 70px;

  &__link {
    display: block;

    font-family: var(--logo-font);
  
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    color: var(--logo-text-color-footer);
  }

  &__accent {
    color: var(--accent-text-color);
  }
}

   
  