/* Section-filters */

.section-filters {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    display: none;
  }
}
    
/* Кнопки фильтру портфоліо */
    
.list-buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  &__item {
    display: inline-block;
    border: 1px solid transparent;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__portfolio {
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    
    padding: 6px 22px;
    background-color: var(--secondary-bgc-color-button);
    color: var(--secondary-text-button);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    
    line-height: 1.62;
    
    border-radius: 4px;
    border: none;
    
    cursor: pointer;
  
    &:hover,
    &:focus{
      background-color: var(--primary-bgc-color-button);
      color: var(--primary-text-button);
      
      box-shadow: var(--list-btn-b-shadow-hover);
    }
  }

  &__portfolio.active {
    background-color: var(--primary-bgc-color-button);
    color: var(--primary-text-button);
    
    box-shadow: var(--list-btn-b-shadow-hover);
  }
}
