/* Особливості */

.section__title--exclusive {
  display: none;
}
  
.section-feature {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
  
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }

  &__title {
    padding-bottom: 10px;
    
    color: var(--primary-text-color);
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    color: var(--title-text-color);
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__item {
    width: 100%;
    

    @media screen and (min-width: 768px){
     width:calc((100% - 30px) / 2);
    }
  }

  &__item:last-child {
    margin: 0px;
  }

  @media screen and (min-width: 1200px) {
    
  }
}
    
.list-item__icon {
  width: 70px;
  height: 70px; 
}
  
.list-item-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bgr-c-feature-icons);
  border-radius: 4px;
}